/* FONTS */
@font-face {
    font-family: "ProximaSoft Regular";
    src: url("../fonts/ProximaSoft Regular.otf") format("opentype");
}

@font-face {
    font-family: "ProximaSoft Medium";
    src: url("../fonts/ProximaSoft Medium.otf") format("opentype");
}

@font-face {
    font-family: "ProximaSoft Semibold";
    src: url("../fonts/ProximaSoft Semibold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaSoft Bold";
    src: url("../fonts/ProximaSoft Bold.otf") format("opentype");
}


* {
    font-family: 'ProximaSoft Regular';
    color: #fff;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.bg-primary {
    background: #fa4d09 !important;
}

section.bg-secondary {
    background: #0283e2 !important;
}

.navbar {
    z-index: 99999;
}

.nav-link {
    color: #fff !important;
}

#section-1 {
    height: 600px; 
}

#section-1 div.col-sm-6 > div {
    width: 250px; 
}

#section-1 #clever-it-col {
    background: #2159cf; 
}

#our-solution-text {
    position: absolute;
    left: -20px;
    transform: rotate(-90deg);
}

#section-1 #collection-col {
    background: #18346f; 
}

#section-1 .section-1-img {
    height: 100px;
    width: auto;
}

.btn {
    border: 0;
}

.btn-primary {
    background: #fa4d09;
}

.btn-rounded {
    border-radius: 100px;
}

#section-1-btn .col-sm-12:nth-child(1) {
    position: absolute;
    top: 200px;
}

#and-btn {
    height: 50px;
    width: 50px;
}

#section-1-btn .col-sm-12:nth-child(2) {
    position: absolute;
}

#login-btn {
    width: 100px;
}


#live-chat-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 30px;
}

#video-headline {
    border: 10px solid #fff;
    height: auto;
}

#section-3 p {
    color: #142750;
    font-family: "ProximaSoft Bold";
}

#section-3 img {
    height: 70px;
    width: auto;
    margin-bottom: 1rem;
}

#section-5 {
    padding-bottom: 0 !important;
}

#macbook-space-img {
    position: relative;
}

#section-7 h1 {
    font-size: 5rem;
    color: #2b406d;
}

#section-8 {
    background: #263b69;
}

input {
    background: #263b69 !important;
    color: #fff !important;
    border: 2px solid #4c5d82 !important;
    border-radius: 0 !important;
}

textarea {
    background: #263b69;
    width: 100%;
    color: #fff;
    border: 2px solid #4c5d82;
    padding: 1rem;
}

textarea::placeholder {
    color: #fff;
}

#contact-submit-btn {
    width: 150px;
}

footer {
    background: #0f1d3a;
}
 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .navbar {
        background: #2159cf; 
    }

    #section-1-btn .col-sm-12:nth-child(1) {
        display: none;
    }

    #section-1-btn .col-sm-12:nth-child(2) {
        display: none;
    }

    #live-chat-btn {
        right: 50px;
    }

    #video-headline {
        width: 90vw;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   .navbar {
        background: transparent;
    }

    #section-1 {
        margin-top: -90px;
    }
    
    #section-1-btn .col-sm-12:nth-child(1) {
        display: flex;
    }

    #section-1-btn .col-sm-12:nth-child(2) {
        top: 325px;
        display: flex;
    }

    #live-chat-btn {
        right: 100px;
    }

    #macbook-space-img {
        top: -50px;
    }

    #video-headline {
        width: 60vw;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
 
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

